<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <table class="table table-light table-borderless table-hover text-center mb-0">
        <thead class="thead-dark">
        <tr>
          <th>Tên sách</th>
          <th>Giá</th>
          <th>Số lượng</th>
          <th>Tổng tiền</th>
          <th>Xóa</th>
        </tr>
        </thead>
        <tbody class="align-middle">
        <tr *ngFor="let item of bookCart">
          <td class="align-middle" style="">
            <img
              [src]="item.book.image" height="300px" class="card-img-top" alt="..." style="width: 50%">
          </td>
          <td class="align-middle">{{item.book.price}}</td>
          <td class="align-middle">
            <div class="input-group quantity mx-auto" style="width: 100px;">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-primary btn-minus" (click)="incCard(item.book)">
                  <i class="fa fa-minus">+</i>
                </button>
              </div>
              <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center"
                     [value]="item.amount">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-primary btn-plus" (click)="decCard(item.book)">
                  <i class="fa fa-plus">-</i>
                </button>
              </div>
            </div>
          </td>
          <td class="align-middle">{{item.amount * item.book.price}}</td>
          <td class="align-middle" (click)="deleteCart(item.book.id)">
            <button class="btn btn-sm btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <form class="mb-30" action="">
        <div class="input-group">
          <input type="text" class="form-control border-0 p-4" placeholder="Mã giảm giá">
          <div class="input-group-append">
            <button class="btn btn-primary">Áp dụng</button>
          </div>
        </div>
      </form>
      <h5 class="section-title position-relative text-uppercase mb-3"><span
        class="bg-secondary pr-3">Giỏ hàng hiện tại</span></h5>
      <div class="bg-light p-30 mb-5">
        <div class="border-bottom pb-2">
          <div class="d-flex justify-content-between mb-3">
            <h6>Tổng tiền</h6>
            <h6>1.020.000 VNĐ</h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Phí vận chuyển</h6>
            <h6 class="font-weight-medium">30.000 VNĐ</h6>
          </div>
        </div>
        <div class="pt-2">
          <div class="d-flex justify-content-between mt-2">
            <h5>Tổng</h5>
            <h5>1.050.000 VNĐ</h5>
          </div>
          <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Tiếp tục thanh toán</button>
        </div>
      </div>
    </div>
  </div>
</div>

