<div class="container-fluid mt-4 bg-success">
  <div class="row">
    <div class="col-lg-4 mt-3 map" align="center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.7517909401145!2d108.20754761417001!3d16.07836494346534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421846431fd0fd%3A0x780138ba60fa3aa6!2zMjk1IE5ndXnhu4VuIFThuqV0IFRow6BuaCwgVGhhbmggQsOsbmgsIEjhuqNpIENow6J1LCDEkMOgIE7hurVuZyA1NTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1661911853461!5m2!1svi!2s"
              allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-lg-8 text-light mt-3">
      <p><b>Copyright @2022 C0322G1 - Book Store</b></p>
      <p><b>Giấy phép số:</b> 666/GP-TTĐT của Bộ Thông tin và Truyền thông, cấp ngày 30/08/2022.</p>
      <p><b>Trụ sở:</b> Tầng 10, 295 Nguyễn Tất Thành, P. Thanh Bình, Q. Hải Châu, TP. Đà Nẵng.</p>
      <p><b>Điện thoại:</b> 0906 06 7530.</p>
      <p><b>Email:</b> levanle5@gmail.com</p>
      <p><b>&copy;2022 bookstore.com.vn</b> giữ bản quyền nội dung trên website này. Ghi rõ nguồn
        "bookstore.com.vn"
        khi bạn phát hành lại thông tin từ website này.</p>

    </div>
  </div>
</div>
