a:hover {
  font-weight: bold;
}

svg {
  width: 26px;
  height: 26px;
}

.ads {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
}

#carouselExampleCaptions img {
  width: 1000px;
  height: 240px;
}
